<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Simple AV System - Lifegate AV System</title>
</head>
<body>
    <table>
        <tr class="label">
            <td>Handhelds</td>
            <td>PC</td>
            <td>Bluetooth</td>
        </tr>
        <tr>
            <td onclick="location.href='/levelUp/hh'">+</td>
            <td onclick="location.href='/levelUp/pc'">+</td>
            <td onclick="location.href='/levelUp/bt'">+</td>
        </tr>
        <tr>
            <td onclick="location.href='/levelDown/hh'">-</td>
            <td onclick="location.href='/levelDown/pc'">-</td>
            <td onclick="location.href='/levelDown/bt'">-</td>
        </tr>
    </table>
    <a href="/" style="margin-top: 50px;">Home</a>
</body>
</html>