<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Lifegate AV System</title>
</head>
<body>
    <h1>Lifegate AV System</h1>
    <p>After powering on the system, please wait 2 minutes before trying to use 'Simple AV System' mode.</p>
    <table>
        <tr>
            <td onclick="location.href='/on'">Power On</td>
            <td onclick="location.href='/off'">Power Off</td>
        </tr>
        <tr>
            <td colspan="2" onclick="location.href='/audio'">Simple AV System</td>
        </tr>
    </table>
</body>
</html>